@font-face {
  font-family: poppins;
  src: url(./assets/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: teachers;
  src: url(./assets/Teachers/Teachers-VariableFont_wght.ttf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.hero-image-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  background-image: url(./assets/drake-hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
}

.drake-header-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: clamp(1.5rem, 12vw, 5rem);
  word-wrap: break-word;
  color: white;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.hero-background-decoration {
  position: absolute;
  background-color: blue;
  height: 250px;
  top: -100px;
  width: 100vw;
  z-index: -1;
  transform: skew(0deg, -20deg);
}

.hero-paragraph-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero-about-me {
  font-size: clamp(2rem, 10vw + 10px, 6rem);
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin-top: 3rem;
}

.hero-paragraph {
  margin-top: 2rem;
  font-size: clamp(1rem, 5vw, 3rem);
  font-family: teachers, Georgia, "Times New Roman", Times, serif;
  line-height: 1.5em;
}

.hero-icons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.hero-icons img {
  min-height: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5rem;
}

.main-heading-text {
  font-size: clamp(2rem, 10vw + 10px, 6rem);
  font-family: teachers, Georgia, "Times New Roman", Times, serif;
}

.projects-container {
  max-width: 85vw;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  gap: 4rem;
}

.proj-info {
  box-shadow: 2px 4px 5px grey;
}

.screenshot {
  height: 250px;
}

.proj-links {
  display: flex;
  gap: 1rem;
}

.proj-links img {
  width: 30px;
}

.proj-header-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
}

.proj-header-info > p {
  font-size: 1.5rem;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.proj-description {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.1rem;
  font-family: teacher, Georgia, "Times New Roman", Times, serif;
  line-height: 1.5rem;
}

.proj-1,
.proj-2,
.proj-3,
.proj-4,
.proj-5,
.proj-6,
.footer-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj-1 {
  background-image: url(./assets/battleship-screenshot.png);
}

.proj-2 {
  background-image: url(./assets/weather-app-screenshot.png);
}

.proj-3 {
  background-image: url(./assets/todo-list-screenshot.png);
}

.proj-4 {
  background-image: url(./assets/tic-tac-toe-screenshot.png);
}

.proj-5 {
  background-image: url(./assets/restaurant-page-screenshot.png);
}

.proj-6 {
  background-image: url(./assets/library-screenshot.png);
}

footer {
  margin-top: 6rem;
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.footer-info {
  padding: 30px;
}

.footer-main-text {
  font-size: clamp(2rem, 5vw + 5px, 6rem);
  font-family: poppins, Arial, Helvetica, sans-serif;
  color: white;
}

.footer-secondary-text {
  margin-top: 1rem;
  font-size: clamp(1rem, 5vw, 4rem);
  line-height: 1.5em;
  font-family: teacher, Georgia, "Times New Roman", Times, serif;
  color: white;
}

.footer-links {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-links img {
  height: 50px;
}

.footer-image {
  background-image: url(./assets/jester.png);
  height: 250px;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .hero-background-decoration {
    height: 450px;
    top: -150px;
  }

  .hero-paragraph-container {
    background-color: white;
  }

  .hero-image-container {
    max-width: 350px;
    min-height: 350px;
  }
}
